@import '../config/vars';

.bottom-nav {
	background: transparent;
	color: var(--color-text);
	padding: 2rem 1rem 1rem 1rem;

	&__menu {
		padding: 0 1rem;
	}
	@media (min-width:640px) {
		&__ul{
			text-align: center;
			li{
				line-height: 35px;
			}
		}
	}
	&__anchor {
		&:hover {
			text-decoration: none;
			color: var(--color-white);
		}
		@media (max-width: 540px) {
			padding: 1rem 4rem 1rem 0;
		}
	}
	&__img {
		padding: 1rem 0;
	}
	&__title{
		font-weight: bold;
	}
	&__socialicon{
		margin: 2rem 0;
	}
	&__socialicons{
		display: flex;
	}
	&__container-icon{
		margin: 0 0.5rem;
	}
	&__icon{
		width: 30px;
	}
	&__curacao{
		background-color: black;
		padding: 1rem;
		max-width: 100%;
		min-height: 100px;
		display: flex;
		justify-content: center;
		&__img{
			max-width: 70px;
			height: auto;
		}
	}
}