@import "../config/vars";

.btn {
    background-color: var(--color-black);
    border-radius: 5px;
    border: 1px solid var(--color-black);
    padding: 0.5rem;
    margin: 0 0.5rem;
    font-size: 14px;
    font-weight: bold;
    color: var(--color-white);
    &:hover {
        text-decoration: none;
        color: var(--color-black);
        background-color: var(--color-white);
    }
    @media (min-width: 425px) {
        font-size: 13px;
        padding: 0.5rem 1rem;
    }
    &__irAhora {
        background: red;
        color: white;
        padding: .2rem 0.5rem;
        margin: 1rem 0.8rem;
        font-size: 14px;
        border-radius: .2rem;   
    }
    &__irAhora:hover {
        background: black;
        color: white;
        text-decoration: none;
        border: 1px solid white;
    }
    @media (min-width: 1024px) {
        font-size: 16px;
        padding: 0.5rem 1rem;
    }
    &__login {
        border: 1px solid var(--color-blue);
        background: var(--color-gradient2);
        color: var(--color-blue);
        &:hover {
            background: var(--color-gradient2);
            color: var(--color-blue);
        }
    }
    &__register {
        border: 1px solid var(--color-border1);
        color: var(--color-white);
        background: var(--color-gradient1);
        &:hover {
            color: var(--color-white);
        }
    }
    &__registered {
        padding: 0.5rem 2rem;
        font-weight: bold;
        font-size: 18px;
        color: var(--color-white);
        background: var(--color-gradient1);
    }
    &__registro{
        background: var(--color-gradient1);
    }
    @media (min-width: 920px) {
        &__registered {
        padding: 1rem 4rem;
        font-size: 22px;
        }
    }
    &__banca {
        text-align: center;
        background-color: var(--color-dark);
        border: 1px solid var(--color-gray-lith);
    }
    &__promo{
        width: 100%;
        position: absolute;
        bottom: 0rem;
        padding: 0;
        text-align: center;
        margin: 0 auto;
        background-color: var(--color-orange);
        border-radius: 0;
    }
    @media (min-width: 420px) {
        &__promo{
        padding: 0.2rem;
        }
    }
    @media (min-width: 960px) {
        &__promo{
        padding: 0.5rem;
        }
    }
}
