
    .casino-en-vivo{
        color: var(--color-text-white);
        &__banner{
            height: auto;
            @media (min-width: 1400px) {
                margin-top: 13rem;
            }
            @media (max-width: 600px) {
                margin-top: 2rem;
            }
        }
        &__content{
            margin-top: -18rem;
            margin-bottom: -5rem;
            @media (max-width: 1400px) {
            margin-top: -4rem;
            margin-bottom: -20rem;
            }
        }
        &__description{
            border-radius: .5rem;
            border: 1px solid #0076ba;
            width: 60%;
            margin: 2rem auto;
            padding: 3rem 2rem;
            position: relative;
            top: -5rem;
            background: black;
        }
        &__button{
            display: flex;
            justify-content: center;
            margin: 2rem 0;
        }
        &__title{
            font-weight: bold;
        }
        &__text{
            padding: 1rem 1rem;
            color: var(--color-text-white);
        }
    }