// UI
@import "top-nav";
@import "bottom-nav";
@import "buttons";
@import "tns-single";
@import "tns-slider-global";
@import "tns-carousell";
@import "section-contacto";
@import "section-home-promotion";
@import "section-buttons";
@import "modal-login";
@import "registrarse";
@import "terminos-bonus";
@import "providers";

//pages
@import "page-bonus";
@import "page-apuestas-vivo";
@import "page-casino";
@import "page-banca";
@import "page-gallos";
@import "page-caballos";