@import '../config/vars';

.infoApp {
    margin: 1rem;
    display: flex;
    justify-content: center;

    &__container {
        width: 100%;
        max-width: 100%;
    }

    &__title {
        color: var(--color-text-white);
        text-align: center;
        font-weight: bold;
        margin-bottom: 4rem;
    }

    &__texto {
        text-align: center;
        color: var(--color-text-white);
    }

    &__card-Download{
        display: flex;
        justify-content: space-around;
    }
    &__card {
        border: 2px solid var(--color-gray-lith);
        border-radius: 10px;
        padding: 2rem;
        margin-bottom: 4rem;
    }

    &__img {
        max-width: 40%;
        height: auto;
        margin: 0.5rem auto;
    }

    &__link {
        display: block;
        color: var(--color-orange);
        text-align: center;
        &:hover {
            text-decoration: underline;
        }
    }
    &__navegador{
        width: 100%;
        max-width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &__img-chrome{
        max-width: 40px;
        height: auto;
        margin: 0 1rem;
    }

}