@import "../config/vars";

.container-registro{
    background-color: rgb(0, 0, 200);
    padding: 2rem;
    margin: 0;
}
.registro {
    border-radius: 10px;
    background-color: var(--color-blue);
    color: var(--color-white);
    max-width: 1200px;
    display: flex;
    margin: auto;
    &__img{
        display: none;
    }
    @media (min-width: 960px) {
        &__img{
            display: block;
            min-width: 600px;
            background-color: red;
        }
    }
    &__content {
        width: 100%;
        min-width: 20vw;
        padding: 2rem;
        &__header {
            margin-bottom: 2rem;
            text-align: center;
            &__title {
                margin: 0;
            }
            &__text{
                color: var(--color-text);
                font-size: 12px;
            }
        }
        &__form {
            display: flex;
            flex-direction: column;
            &__label {
                color: var(--color-white);
            }
            &__input {
                background-color: var(--color-blue);
                border-radius: 5px;
                padding: 0.5rem;
                border: 1px solid var(--color-yellow);
                color: var(--color-white);
                margin: 0.5rem 0;
                &::placeholder {
                    color: var(--color-text);
                }
            }
            &__checkbox{
                display: flex;
                font-size: 12px;
                color: var(--color-text);
                margin: 1rem 0;
            }
            &__text{
                text-align: center;
                margin: 0;
                margin-top: 0.5rem;
            }
            &__links{
                display: flex;
                justify-content: center;
                margin: 0.5rem 0;
            }
            &__img{
                margin: 0 0.5rem;
                max-width: 100px;
            }
        }
    }
}