@import '../config/vars';


.horses{
    color: var(--color-text-white);
    &__banner{
        height: auto;
        @media (max-width: 1400px) {
            margin-top: 3rem;
        }
    }
    &__description{
        border-radius: .5rem;
        border: 1px solid #0076ba;
        width: 60%;
        margin: 2rem auto;
        padding: 3rem 2rem;
        position: relative;
        top: -5rem;
    }
    &__button{
        display: flex;
        justify-content: center;
        margin: 2rem 0;
    }
    &__title{
        font-weight: bold;
    }
    &__text{
        padding: 1rem 1rem;
        color: var(--color-text-white);
    }
}
.centrar{
    text-align: center;
}

.caballos {
    h2{
        margin: 0;
    }
    max-width: 100%;
    @media (min-width: 474px) {
        margin-top: 0rem;
    }
    
    &__content {
        width: 80%;
        max-width: 1200px;
        margin: 2rem ;
    }
    &__gallerie{
        margin-top: 2rem;
    }
    &__button{
        display: flex;
        justify-content: center;
        margin: 2rem 0;
    }
}