.banca{
    @media (min-width: 1200px) {
        
    }
    h1{
        font-size: 24px;
    }
    h1,p{
        text-align: center;
        color: var(--color-white);
    }
    p{
        text-align: center;
        margin-bottom: 2rem;
    }
    &__button{
        display: flex;
        justify-content: center;
        margin: 2rem 0;
    }
    &__content{
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 90%;
        padding: 1rem;
        margin: 0 auto;
    }
    &__card{
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        border: 2px solid var(--color-gray-lith);
        border-radius: 10px;
        padding: 1rem;
    }
    &__img{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 60%;
        margin: 0 auto;
    }
    &__image{
        width: 100%;
        max-width: 350px;
        height: auto;
    }
    @media (min-width: 960px) {
        &__img{
            width: 40%;
            border-right: 2px solid var(--color-gray-lith);
            margin: 0;
        }
        &__card{
            flex-direction: row;
            padding: 0;
        }
        &__content{
            margin: 0;
            width: 60%;
        }
    }
}