.section-promotions{
    margin-top: 8rem;
    @media (min-width: 474px) {
        margin-top: 5rem;
    }
    &__content{
        margin: 0 auto;
        width: 80%;
        max-width: 1200px;
        @media (min-width: 640px) {
            width: 40%;
        }
    }
    &__title{
        font-size: 20px;
        font-weight: 600;
        margin: 2rem 0;
        color: var(--color-white);
        @media (min-width: 640px) {
            font-size: 26px;
        }
    }
    &__img{
        margin: 0 auto;
        height: auto;
    }
    &__button{
        margin-top: 4rem;
        display: flex;
        justify-content: center;
    }
}