@import '../config/vars';

.bono {
    max-width: 100%;
    @media (min-width: 474px) {
        margin-top: 0rem;
    }
    &__banner {
        width: 100%;
        max-width: 600px;
        height: auto;
        margin: 3rem auto;
    }
    &__content {
        width: 80%;
        max-width: 1200px;
        margin: 2rem auto;
    }
    &__gallerie{
        margin-top: 2rem;
    }
    &__button{
        display: flex;
        justify-content: center;
        margin: 2rem 0;
    }
}