@import "../config/vars";

.reglasCasa {
	max-width: 100%;
	ul {
		margin-top: 0;
		margin-bottom: 1rem;
		margin-left: 3rem;
	}
	li {
		padding-bottom: 1rem;
		font-size: 18px;
	}
	p {
		font-size: 20px;
	}

	@media (min-width: 474px) {
		margin-top: 0rem;
	}
	&__banner {
		width: 100%;
		max-width: 100%;
		height: auto;
	}
	&__content {
		width: 80%;
		max-width: 1200px;
		margin: 2rem auto;

		margin-top: -4rem;
		margin-bottom: -5rem;
		@media (max-width: 600px) {
			margin-top: -4rem;
			margin-bottom: -20rem;
		}
	}
	&__gallerie {
		margin-top: 2rem;
	}
	&__button {
		display: flex;
		justify-content: center;
		margin: 2rem 0;
	}
}
.reglasCasa__table {
	border-collapse: collapse;
}

.reglasCasa__table--td1 {
	width: 10%;
	padding: 5px;
	border: 1px solid var(--color-text-white);
	font-weight: bold;
	text-align: center;
}

.reglasCasa__table--td2 {
	border: 1px solid var(--color-text-white);
	padding: 5px;
	color: #fff;
	font-weight: bold;
}
