.lorem{
	display: none;
}
.lorem:first-of-type{
	display: block;
}
.ed-container-caballos{
	overflow: auto;
}
.tabs-container-caballos{
	width: 100%;
	position: relative;
	margin: 0;
	table{
		width: 100%;
		min-width: 1000px;
		border: 1px solid white;
		padding: 1rem;
		border-collapse: collapse;
		thead{
			color: #fff;
		}
		td{
			vertical-align: text-top;
		}
		tr, td{
			padding: 1rem;
			border: 1px solid white;
		}
		tr:nth-child(even){
			background-color: #171717;
		}
	}
	
	&__tabs {
		list-style: none;
		margin: 0;
		padding: 0;
		display: flex;
	}

	&__tab {
		width: 20%;
		min-width: 100px;
		line-height: 2;
		padding: .5em 1em;
		margin-right: 1px;
		border-bottom: none;
		border-radius: 4px 4px 0 0;
		position: relative;
		top: 1px;
		cursor: pointer;
		border: 1px solid #fff;

		&.active {
			background-color: #fff;
			color: #000;
			position: relative;
			z-index: 2;
		}
	}

	&__panels {
		position: relative;
		z-index: 1;
		padding: 1rem 0;
	}

	&__panel {
		position: absolute;
		left: -1000%;

		&.is-active {
			position: relative;
			left: 0;
		}
	}
}
