.tabs-container {
  width: 100%;
  position: relative;
  margin: 5em auto;

  &__tabs {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  margin-bottom: 2rem;
  border-bottom: 1px solid var(--color-gray-lith);
  }

  &__tab {
    width: 50%;
    border: 1px solid transparent;
    color: var(--color-text-white);
    text-align: center;
    text-transform: uppercase;
    font-weight: 600;
    border-radius: 5px;
    line-height: 2;
    padding: 0.5rem 0;
    margin-right: 1px;
    position: relative;
    top: 1px;
    cursor: pointer;
    &.is-active {
      background: var(--color-orange);
      color: var(--color-text-white);
      position: relative;
      z-index: 2;
      &:hover{
        border: 1px solid var(--color-orange);
      }
    }
    &:hover{
      border: 1px solid var(--color-text-white);
    }
  }

  &__panels {
    position: relative;
    z-index: 1;
    }

  &__panel {
    position: absolute;
    left: -1000%;
    &.is-active {
      position: relative;
      left: 0;
    }
  }
}