@import '../config/vars';

.top-nav {
	background: var(--color-black);
	position: fixed;
	top: 0;
	width: 100%;
	left: 0;
	display: flex;
	justify-content: center;
	z-index: 4;
	border-bottom: 5px solid var(--color-gradient2);
	&__container {
		display: flex;
		justify-content: space-between;
		height: var(--header-height);
		width: 100%;
		max-width: 1200px;
		padding: 0 15px;
	}
	&__link {
		align-self: center;
	}
	&__logo {
		max-height: 50px;
		display: block;
	}
	&__menu {
		@include fromTo(s, lg) {
			position: fixed;
			padding: 0 15px;
			height: 100vh;
			width: 260px;
			background: var(--color-black);
			transition: right .5s;
			overflow-y: auto;
			top: var(--header-height);
			left: -260px;
			&.is-active {
				left: 0;
			}
		}
		@include from(lg) {
			align-self: center;
			margin: 0;
			padding: 0;
		}
	}
	&__li {
		@include fromTo(s, lg) {
			display: block;
			margin: 0;
		}
		margin-left: 1em;
		list-style-type: none;
		display: inline-block;
	}
	&__anchor {
		color: var(--color-white);
		font-weight: bold;
		padding: .3rem .0rem;
		@include fromTo(s, lg) {
			display: flex;
			width: 100%;
			height: 48px;
			align-items: center;
			border-top: 1px solid #0076ba;
		}
		&:hover{
			color: var(--color-white);
			text-decoration: none;
			background-color: #0076ba;
			border-radius: .2rem;
			padding: .3rem .3rem;
		}
	}
	&__mb-iconMenu {
		position: relative;
		align-self: center;
		top: 3px;
		padding: 0;
		span {
			&.hamburger-inner {
				background: var(--color-white);
				&::after,
				&::before {
					background: var(--color-white);
				}
			}
		}
		@include from(lg) {
			display: none;
		}
	}
	&__btn{
		display: flex;
		justify-content: center;
		align-items: center;
	}	
}
.top-nav::after {
	background: linear-gradient(to right,#001380 25%,#ffffff 25%,#ff1400 50%,#ff1400 50%,#ffffff 75%,#001380 75%);
	position: absolute;
	content: '';
	height: 3px;
	right: 0;
	left: 0;
	bottom: 0;
}