@import '../config/vars';
.sport-rules-container {
	padding: 20px;
	background:transparent;
	
	border-radius: 15px;
	margin-bottom: 40px;
	width: 100%;
	max-width: 1100px;
	margin: 0 auto;
	ul{
		margin-top: 0;
    	margin-bottom: 1rem;
		margin-left: 3rem;
	}
	li{
		padding-bottom: 1rem;
		font-size: 18px;
	}
	h1{
		font-size: 26px;
	}
	h2{
		font-size: 18px;
		color:#0076ba ;
	}
	td, tr{
		text-align: center;
	}
	p {
		font-size: 16px;
	}
}
.sport-rules__banner{
	&__banner{
        height: auto;
    }
}
.sport-rules__table {
	border-collapse: collapse;
}

.sport-rules__table--td1 {
	width: 20%;
	padding: 5px;
	border: 1px solid var(--color-text-white);
	font-weight: bold;
}

.sport-rules__table--td2 {
	border: 1px solid var(--color-text-white);
	padding: 5px;
	color: #0076ba;
	font-weight: bold
}

