section(class="infoApp")
    div(class="infoApp__container")
        h2(class="infoApp__title") DESCARGA LA APP OFICIAL AQUÍ: 
            a(class="infoApp__download" href="https://images.betimages.com/Apps/ticobets/ticobets.apk") DESCARGAR
        div(class='infoApp__icon') 
            img(src="assets/img/ANDROID01.png" alt="icon chrome" class="infoApp__img-chrome" width="320" height="320")
        div(class='infoApp__navegador')
            p(class="infoApp__texto") Disponible solo para ANDROID.
