section(class="infoApp")
    div(class="infoApp__container")
        h2(class="infoApp__title") Descarga el software de PokerFran
        div(class="infoApp__card-Download ed-container")
            div(class="infoApp__card ed-item s-1 m-30")
                p(class="infoApp__texto") Escritorio Windowns 
                a(href="https://lapokers.evenbetpoker.com/downloads/PokerFran/win/PokerFranSetup.exe")
                    img(class="infoApp__img" src="assets/img/windows.png" alt="icon software" width="100" heigth="100")
                    span(class="infoApp__link") Descargar 
            div(class="infoApp__card ed-item s-1 m-30")
                p(class="infoApp__texto") App Android
                a(href="https://lapokers.evenbetpoker.com/downloads/PokerFran/android/PokerFran.apk")
                    img(class="infoApp__img" src="assets/img/android.png" alt="icon software" width="100" heigth="100")
                    span(class="infoApp__link") Descargar 
        div(class='infoApp__navegador')
            img(src="assets/img/chromeIcon.png" alt="icon chrome" class="infoApp__img-chrome" width="320" height="320")
            p(class="infoApp__texto") Se recomienda usar Navegador Chrome
