div(class="casino-en-vivo")
    div(class="casino-en-vivo__content")
        div(class="casino-en-vivo__banner")
            img(src="assets/img/slider-casinoenvivo.jpg", alt="image banner")
        div(class="casino-en-vivo__description")
            h1(class="casino-en-vivo__title") Casino en vivo
            p(class="casino-en-vivo__text") Tal vez tu eres el tipo de persona que disfruta de una experiencia de juego más interactiva y en vivo y, si este es tu caso, ticobets tiene lo que estas buscando. Nuestro Casino en Vivo trae tus juegos favoritos directamente a la pantalla de tu computadora, junto con la compañía de nuestras muy profesionales y hermosas dealers.
            p(class="casino-en-vivo__text") La oferta del Casino en Vivo de ticobets incluye Blackjack, Ruleta, Poker, y muchos otros juegos emocionantes para mantenerte entretenido durante horas, y por qué no? Tu puedes obtener un beneficio además de la diversión. Nuestro Casino en Vivo permanece abierto 24/7, los 365 días del año. No hay nada mejor que esto.
            p(class="casino-en-vivo__text") Si tu deseas tener esta opción disponible para ti, por favor ponte en contacto con el personal de atención al cliente de ticobets y te asistiremos para preparar tu cuenta en pocos minutos, y así puedas comenzar a disfrutar de la acción en vivo en nuestro Casino ticobets hoy!