div(class= "ed-container content" )
    div(class= "titleContainer")
        h2(class="titulos") CABALLOS 
        p(class="subtitulo") Más de 400 hipodromos 
    <div class="ed-grid rows-gap s-grid-1 ">
        <div class=" cuadGeneral3__baloncestoButton cuadGeneral3__cuadImg1 cuadGeneral3__cuadImg">
            a(class= "btn__irAhora" href="caballos.html") Ir Ahora
        </div>
    </div>