div(class= "ed-container content" )
    h2(class="titulos") CASINO EN VIVO
    <div class="ed-grid rows-gap s-grid-1 m-grid-2 lg-grid-4 ">
        <div class="cuadGeneral cuadGeneral__cuadImg1 cuadGeneral__cuadImg">
            a(class= "btn__irAhora" href="casino.html") Ir Ahora
        </div>
        <div class="cuadGeneral cuadGeneral__cuadImg2 cuadGeneral__cuadImg lg-rows-2 lg-cols-2 ">
            a(class= "btn__irAhora" href="casino.html") Ir Ahora
        </div>
        <div class="cuadGeneral cuadGeneral__cuadImg3 cuadGeneral__cuadImg">
            a(class= "btn__irAhora" href="casino.html") Ir Ahora
        </div>
        <div class="cuadGeneral cuadGeneral__cuadImg4 cuadGeneral__cuadImg">
            a(class= "btn__irAhora" href="casino.html") Ir Ahora
        </div>
        <div class="cuadGeneral cuadGeneral__cuadImg5 cuadGeneral__cuadImg">
            a(class= "btn__irAhora" href="casino.html") Ir Ahora
        </div>
    </div>