div(class= "ed-container content" )
    h2(class="titulos") DEPORTES 
    <div class="ed-grid rows-gap s-grid-1 m-grid-2 lg-grid-4">
        <div class=" cuadGeneral2__baloncestoButton cuadGeneral2__cuadImg1 cuadGeneral2__cuadImg m-cols-2 m-rows-2 lg-rows-2 lg-cols-2 ">
            a(class= "btn__irAhora" href="cdeportes.html") Ir Ahora
        </div>
        <div class="cuadGeneral2 cuadGeneral2__cuadImg2 cuadGeneral2__cuadImg ">
            a(class= "btn__irAhora" href="deportes.html") Ir Ahora
        </div>
        <div class="cuadGeneral2 cuadGeneral2__cuadImg3 cuadGeneral2__cuadImg  ">
            a(class= "btn__irAhora" href="deportes.html") Ir Ahora
        </div>
        <div class="cuadGeneral2 cuadGeneral2__cuadImg4 cuadGeneral2__cuadImg ">
            a(class= "btn__irAhora" href="deportes.html") Ir Ahora
        </div>
        <div class="cuadGeneral2 cuadGeneral2__cuadImg5 cuadGeneral2__cuadImg">
            a(class= "btn__irAhora" href="deportes.html") Ir Ahora
        </div>
    </div>