div(class='accordion-container ed-grid')
	div(class='accordion v1')
		div(class="a-container")
			p(class="a-btn") FUTBOL AMERICANO <span></span>
			div(class='a-panel')
				include:markdown-it(html) ../md/relgas-Deportes/futbol-americano.md
				div(class='accordion v1')
		div(class="a-container")
			p(class="a-btn") BALONCESTO <span></span>
			div(class='a-panel')
				include:markdown-it(html) ../md/relgas-Deportes/basketball.md
				div(class='accordion v1')
		div(class="a-container")
			p(class="a-btn") BÉISBOL <span></span>
			div(class='a-panel')
				include:markdown-it(html) ../md/relgas-Deportes/baseball.md
		div(class="a-container")
			p(class="a-btn") HOCKEY <span></span>
			div(class='a-panel')
				include:markdown-it(html) ../md/relgas-Deportes/hockey.md
		div(class="a-container")
			p(class="a-btn") SOCCER <span></span>
			div(class='a-panel')
				include:markdown-it(html) ../md/relgas-Deportes/soccer.md
		div(class="a-container")
			p(class="a-btn") GOLF <span></span>
			div(class='a-panel')
				include:markdown-it(html) ../md/relgas-Deportes/golf.md
		div(class="a-container")
			p(class="a-btn") BOXING / MIXED MARTIAL ARTS (MMA) / UFC <span></span>
			div(class='a-panel')
				include:markdown-it(html) ../md/relgas-Deportes/boxeo.md
		div(class="a-container")
			p(class="a-btn") TENNIS  <span></span>
			div(class='a-panel')
				include:markdown-it(html) ../md/relgas-Deportes/tennis.md
		div(class="a-container")
			p(class="a-btn") AUTORACING <span></span>
			div(class='a-panel')
				include:markdown-it(html) ../md/relgas-Deportes/autoracing.md
		div(class="a-container")
			p(class="a-btn") Reglas Generales de Props <span></span>
			div(class='a-panel')
				include:markdown-it(html) ../md/relgas-Deportes/prop-rules.md
		div(class="a-container")
			p(class="a-btn") Apuestas Live In-Game Lines <span></span>
			div(class='a-panel')
				include:markdown-it(html) ../md/relgas-Deportes/live-games.md
		div(class="a-container")
			p(class="a-btn") Parlay Cards Rules <span></span>
			div(class='a-panel')
				include:markdown-it(html) ../md/relgas-Deportes/parlay-cards.md
		div(class="a-container")
			p(class="a-btn") RUGBY <span></span>
			div(class='a-panel')
				include:markdown-it(html) ../md/relgas-Deportes/rugby.md
		div(class="a-container")
			p(class="a-btn") CRICKET <span></span>
			div(class='a-panel')
				include:markdown-it(html) ../md/relgas-Deportes/cricket.md
		div(class="a-container")
			p(class="a-btn") E-SPORTS <span></span>
			div(class='a-panel')
				include:markdown-it(html) ../md/relgas-Deportes/esports.md
		div(class="a-container")
			p(class="a-btn") OLYMPIC RULES <span></span>
			div(class='a-panel')
				include:markdown-it(html) ../md/relgas-Deportes/olympicRules.md
		div(class="a-container")
			p(class="a-btn") Water Polo <span></span>
			div(class='a-panel')
				include:markdown-it(html) ../md/relgas-Deportes/waterpolo.md
		div(class="a-container")
			p(class="a-btn") Handball <span></span>
			div(class='a-panel')
				include:markdown-it(html) ../md/relgas-Deportes/handball.md
