nav(class='bottom-nav')
    div(class='bottom-nav__container ed-grid s-grid-1 m-grid-2 l-grid-4')
        include ../config/mixins/mixin-footer-menu
    div(class='bottom-nav__curacao')
        img(class='bottom-nav__curacao__img', src="assets/img/home/desktop/footer/logo.png", alt="image curacao" width="71" height="79")