nav(class='bottom-nav')
    div(class='bottom-nav__container ed-grid s-grid-1 m-grid-2 l-grid-4')
        include ../config/mixins/mixin-footer-menu
        ul(class="s-cols-1")
            p CONECTAR
            div(class="ed-grid s-grid-3")
                div: img(src="assets/img/icon_32.png", alt="social icon") 
                div: img(src="assets/img/icon_32.png", alt="social icon")
                div: img(src="assets/img/icon_32.png", alt="social icon")
            img(class='bottom-nav__img', src="assets/img/icon_128.png", alt="image")