mixin card(cardImage, cardTitle)
	div(class="ed-item s-1 m-50 l-25")
		img(src=cardImage)
		p=cardTitle
-for (var i = 0; i < casinoImages.length; i++)
	-var caso = casinoImages[i]
	+card(caso.img, caso.title)