section(class="modal-login" id="modal-login")
    div(class="login") 
        a(href="#" class="login__close")
        div(class="login__content")
            div(class="login__content__header")
                h1(class="login__content__header__title") INGRESAR
                a(class="login__content__header__text" href="registrarse.html") O iniciar registrate
            form(name="LoginForm" action="javascript:void(0)" onsubmit="BackEndLogin(this); return false")
                div(class="login__content__form")
                    label(class="login__content__form__label" for="username") Nombre de usuario
                    input(class="login__content__form__input form-control" type="text" placeholder="Usuario o email" name="username" required)
                    label(class="login__content__form__label" for="password") Contraseña
                    input(class="login__content__form__input form-control" type="password" placeholder="Contraseña" name="password" required)
                    div(class="text-center mt-2")
                        small(name="msj_error_lg" class="text-danger")
                    div(class="modal-login__forgot-pass")
                        a(href="https://betslip.pokerfran.com/home/reset-pass") ¿Olvidó su contraseña?
                    div(class="login__content__form__checkbox")
                        input(type="checkbox" name="terminos" value="true")
                        p(class="login__content__form__text") Recordar Contraseña
                    button(class="btn btn__registro" name="btn-login" type="submit") INGRESAR
                    input(type="hidden" name="BackEndUrl" value="https://betslip.pokerfran.com")
    script(src="https://images.betimages.com/Betslip/js/quick.login.min.js")
