section(class="modal-login" id="modal-login")
    div(class="login") 
        div(class="login__content")
            div(class="login__content__header")
                h2(class="login__content__header__title") INGRESO DE USUARIO
                 a(href="#" class="login__close")
            form(name="LoginForm" action="javascript:void(0)" onsubmit="BackEndLogin(this); return false")
                div(class="login__content__form")
                    label(class="login__content__form__label" for="username") Nombre de usuario
                    input(class="login__content__form__input form-control" type="text" placeholder="Usuario o email" name="username" required)
                    label(class="login__content__form__label" for="password") Contraseña
                    input(class="login__content__form__input form-control" type="password" placeholder="Contraseña" name="password" required)
                    div(class="text-center mt-2")
                        small(name="msj_error_lg" class="text-danger")
                    //- div(class="login__content__form__checkbox")
                        //- input(type="checkbox" name="terminos" value="true")
                        //- p(class="login__content__form__text") Recordar Contraseña
                    button(class="btn btn__registro__login" name="btn-login" type="submit") Ingresar
                    input(type="hidden" name="BackEndUrl" value="https://betslip.ticobets.ag")
                    div(class="modal-login__forgot-pass")
                        a(href="https://betslip.ticobets.ag/home/reset-pass") ¿Olvidó su contraseña?
                    div(class="login__content__form__checkbox")
                        a(class="login__content__header__text" href="registrarse.html") No tiene Cuenta ? Click Aqui.
    script(src="https://images.betimages.com/Betslip/js/quick.login.min.js")
