section(class="section-gallos")
    h1 PELEA DE GALLOS
    div(class="gallos")
        div(class="gallos__container")
            include:markdown-it(html) ../md/content-gallos.md
            a(class="btn btn__gallos" href="registarse.html") Regístrate