section(class="container-registro")
    div(class="registro")
        div(class="registro__content")
            div(class="registro__content__header")
                h1(class="registro__content__header__title") REGISTRARSE
                a(class="registro__content__header__text" href="#") O iniciar sesion
            form
                div(class="registro__content__form")
                    label(class="registro__content__form__label" for="user") Nombre de usuario
                    input(class="registro__content__form__input" type="text" placeholder="Usuario" name="user" required)
                    label(class="registro__content__form__label" for="email") Email
                    input(class="registro__content__form__input" type="text" placeholder="Correo electronico" name="email" required)
                    label(class="registro__content__form__label" for="confirm-email") Confirmación de Email
                    input(class="registro__content__form__input" type="text" placeholder="confirmación correo" name="confirm-email" required)
                    label(class="registro__content__form__label" for="pass") Contraseña
                    input(class="registro__content__form__input" type="password" placeholder="Contraseña" name="pass" required)
                    label(class="registro__content__form__label" for="confirm-pass") Confirmacion de contraseña
                    input(class="registro__content__form__input" type="password" placeholder="Confirmacion de contraseña" name="confirm-pass" required)
                    p(class="registro__content__form__text") Codigo opcional
                    label(class="registro__content__form__label" for="code") Código
                    input(class="registro__content__form__input" type="text" name="code")
                    div(class="registro__content__form__checkbox")
                        input(type="checkbox" name="terminos" value="true")
                        p(class="registro__content__form__text") He leido las reglas de la casa y estoy de acuerdo con las mismas
                    button(class="btn btn__registro" type="submit") REGISTRARSE
        div(class="registro__img")
            img(src="assets/img/sign and register/fondo--formulario.jpg", alt="image login")