div(class='powered')
    a(href='https://jazzgs.com/' class="powered__link") Powered by JazzGS
        img(src="assets/img/powered-jgs.png" alt="logo JazzGS" class="powered__img" width="108" height="30")