section(class="reglaspoker")
    div(class="reglaspoker__content")
        include:markdown-it(html) ../md/footer/reglas-poker.md
    div(class="reglaspoker__button")
        a(class="btn btn__registered", href="registrarse.html") Registrate ya!