section(class="section-promotions")
    div(class="section-promotions__content")
        include ../config/mixins/mixin-promotions
    div(class="section-promotions__button")
        a(class="btn btn__registered", href="registrarse.html") Registrate ya!