section(class="jresponsable")
    div(class="jresponsable__banner")
        picture
            source(media="(min-width: 640px)" srcset="assets/img/Sliders/juegoresponsable.webp" alt="image banner jresponsable" width="1500" height="310")
            img(src="assets/img/Sliders/juegoresponsable.webp" alt="image banner jresponsable" width="1500" height="310")
    div(class="jresponsable__content")
        include:markdown-it(html) ../md/footer/jresponsable.md
    div(class="jresponsable__button")
        a(class="btn btn__registered" href="registrarse.html") Registrate ya!