section(class="nosotros")
    div(class="nosotros__banner")
        picture
            source(media="(min-width: 640px)" srcset="assets/img/Sliders/sobrenosotros.webp" alt="image banner nosotros" width="1500" height="310")
            img(src="assets/img/Sliders/sobrenosotros.webp" alt="image banner nosotros" width="1500" height="310")
    div(class="nosotros__content")
        include:markdown-it(html) ../md/footer/nosotros.md
    div(class="nosotros__button")
        a(class="btn btn__registered" href="registrarse.html") Registrate ya!