section(class="section-Apuesta-Vivo")
    div(class="section-Apuesta-Vivo__content")
        div(class="section-Apuesta-Vivo__banner")
            img(src="assets/img/apuestaenvivo.jpg", alt="image banner")
        div(class="section-Apuesta-Vivo__description")
            h1(class="section-Apuesta-Vivo__title") Apuesta en vivo
            p(class="section-Apuesta-Vivo__text") ¿Tu juego favorito ya ha comenzado? Sigue la acción paso a paso y apuesta a tu evento predilecto aun después de su comienzo oficial.
            p(class="section-Apuesta-Vivo__text") Nuestro novedoso sistema de apuestas en vivo te permite realizar tus jugadas en tiempo real y durante el desarrollo natural del juego.
            p(class="section-Apuesta-Vivo__text") No dejes que lesiones o expulsiones inesperadas afecten el resultado de tu apuesta. Toma control de tu acción y elige el mejor momento para ingresar tu jugada. ¿Qué estás esperando? Únete a la familia de ticobets y dale un giro a tu suerte.