section(class="section-poker")
    div(class="section-poker__content")
        div(class="section-poker__banner")
            img(src="assets/img/Sliders/banner-Road.jpg", alt="image banner")
        div(class="section-poker__description")
            p(class="section-poker__text") Pronto podrás disfrutar de las mejores mesas de poker, juega con jugadores de todo el mundo y pon a prueba tus habilidades.
            p(class="section-poker__text") En Betfran.com te damos la oportunidad de que puedas disfrutar del mejor poker en línea, con una de las red más grandes de jugadores del mundo.
            p(class="section-poker__text") Podrás descargar la aplicación tanto para android o en tu ordenador, no hay excusa para que no puedas disfrutar de tu mano favorita.
            p(class="section-poker__text") Ingresa ya, instala la aplicación y comienza a ganar en los mejores torneos de poker.
            div(class="section-poker__button")
                a(href="registrarse.html", class="btn btn__registered") REGISTRARSE