section(class="casino")
    div(class="casino__banner")
        picture
            source(media="(min-width: 640px)", srcset="assets/img/Sliders/casinoenvivo.jpg")
            img(src="assets/img/Mobile/casinoenvivo-mobile.jpg", alt="image banner casino")
    div(class="casino__content")
        include:markdown-it(html) ../md/casino-text.md
        div(class="casino__gallerie ed-container")
            include ../components/json-data