section(class="section-buttons")
    div(class="section-buttons__content")
        div(class="btn btn__section-buttons")
            a(class="btn__section-buttons__promo" href="#") PROMOCIONES
        div(class="btn btn__section-buttons")
            a(class="btn__section-buttons__app" href="#") DESCARGA APP