section(class="privacidad")
    div(class="privacidad__banner")
        picture
            source(media="(min-width: 640px)" srcset="assets/img/Sliders/privacidad.webp" alt="image banner privacidad" width="1500" height="310")
            img(src="assets/img/Sliders/privacidad.webp" alt="image banner privacidad" width="1500" height="310")
    div(class="privacidad__content")
        include:markdown-it(html) ../md/footer/privacidad.md
    div(class="privacidad__button")
        a(class="btn btn__registered", href="registrarse.html") Registrate ya!