section(class="section-contacto")
    div(class="section-contacto__content")
        img(class="section-contacto__img", src="assets/img/home/desktop/logo-blue.png", alt="")
        include ../md/section-contacto.md