section(class="terminos")
    div(class="terminos__banner")
        picture
            source(media="(min-width: 640px)" srcset="assets/img/Sliders/terminosycondiciones.webp" alt="image banner terminos" width="1500" height="310")
            img(src="assets/img/Sliders/terminosycondiciones.webp" alt="image banner terminos" width="1500" height="310")
    div(class="terminos__content")
        include:markdown-it(html) ../md/footer/terminos.md
    div(class="terminos__button")
        a(class="btn btn__registered", href="registrarse.html") Registrate ya!