section(class="reglasCasa")
    div(class="reglasCasa__banner")
        picture
            source(media="(min-width: 640px)" srcset="assets/img/Sliders/reglascasa.webp" alt="image banner reglasCasa" width="1500" height="310")
            img(src="assets/img/Sliders/reglascasa.webp" alt="image banner reglasCasa" width="1500" height="310")
    div(class="reglasCasa__content")
        include:markdown-it(html) ../md/footer/reglasCasa.md
    div(class="reglasCasa__button")
        a(class="btn btn__registered", href="registrarse.html") Registrate ya!