section(class="programa")
    div(class="programa__content")
        include:markdown-it(html) ../md/programa-lealtad.md
    div(class="programa__button")
        a(href="registrarse.html", class="btn btn__registered") REGÍSTRARSE YA