div(class="bonus" id="bonus")
    div(class="bonus__content")
        div(class="bonus__container")
            a(href="#" class="bonus__close")
            include:markdown-it(html) ../md/Terminos-bonus/bonuses/bienvenida-100.md
        div(class="bonus__footer") 
            include:markdown-it(html) ../md/Terminos-bonus/descargo-responsabilidad.md