div(class="bonus" id="bonus")
    div(class="bonus__content")
        div(class="bonus__container")
        a(href='#' class='bonus__close' id='btnclose')
        div(class="bonus__footer")
            include:markdown-it(html) ../md/Terminos-bonus/descargo-responsabilidad.md