extends ../config/template
append config
	-currentPage		= "Apuestas-en-Vivo" //name sction
	-siteName			= 'TicoBets' //name site
	-content			= 'content'
	-pageDescription	= 'Pagina Apuestas en vivo de TicoBets'
block main-header
block main-container
	include ../components/section-Apuesta-Vivo
block main-footer
block scripts
