extends ../config/template
append config
	-currentPage		= "Banca"
	-siteName			= 'TicoBets' 
	-content			= 'content'
	-pageDescription	= 'Pagina de casino'
block main-header
block main-container
	include ../components/banca
block main-footer
block scripts 
