extends ../config/template
append config
	-currentPage		= "bonus"
	-siteName			= 'PokerFran' 
	-content			= 'content'
	-pageDescription	= 'Pagina de politica de bonus'
block main-header
block main-container
	include ../components/bono-bienvenidaDeporte
block main-footer
block scripts 
