extends ../config/template
append config
	-currentPage		= "Bonus"
	-siteName			= 'MoneyBet' 
	-content			= 'content'
	-pageDescription	= 'Pagina bonus de MoneyBet'
block main-header
block main-container
	include ../components/page-bonus
block main-footer
block scripts 