extends ../config/template
append config
	-currentPage		= "caballos"
	-siteName			= 'PokerFran' 
	-content			= 'content'
	-pageDescription	= 'Pagina caballos de PokerFran'
block main-header
block main-container
	include ../components/caballos
block main-footer
block scripts 
