extends ../config/template
append config
	-currentPage		= "Caballos"
	-siteName			= 'MoneyBet' 
	-content			= 'content'
	-pageDescription	= 'Pagina caballos de MoneyBet'
block main-header
block main-container
	include ../components/page-caballos
block main-footer
block scripts 