extends ../config/template
append config
	-currentPage		= "caballos"
	-siteName			= 'TicoBets' 
	-content			= 'content'
	-pageDescription	= 'Pagina caballos de TicoBets'
block main-header
block main-container
	include ../components/caballos
block main-footer
block scripts 
