extends ../config/template
append config
	-currentPage		= "Casino"
	-siteName			= 'PokerFran' 
	-content			= 'content'
	-pageDescription	= 'Pagina de casino'
block main-header
block main-container
	include ../components/section-casino
block main-footer
block scripts 
