extends ../config/template
append config
	-currentPage		= "casino-en-vivo" //name sction
	-siteName			= 'Ticobets' //name site
	-content			= 'content'
	-pageDescription	= 'Pagina programa de lealtad de TicoBets'
block main-header
block main-container
	include ../components/casino-en-vivo
block main-footer
block scripts 
