extends ../config/template
append config
	-currentPage		= "deportes" //name sction
	-siteName			= 'TicoBets' //name site
	-content			= 'content'
	-pageDescription	= 'Pagina deportes de TicoBets'
block main-header
block main-container
	include ../components/page-deportes
block main-footer
block scripts 
