extends ../config/template
append config
	-currentPage		= "Gallos"
	-siteName			= 'MoneyBet' 
	-content			= 'content'
	-pageDescription	= 'Pagina peleas de gallos de MoneyBet'
block main-header
block main-container
	include ../components/page-gallos
block main-footer
block scripts 