extends ../config/template
append config
	-currentPage		= "home"
	-siteName			= 'MoneyBet' 
	-content			= 'content'
	-pageDescription	= 'Pagina inicial de MoneyBet'
block main-header
block main-container
	include ../components/slider-homepage
	include ../components/promotion-home
block main-footer
	include ../components/section-contacto
block scripts 