extends ../config/template
append config
	-currentPage		= "home" //name sction
	-siteName			= 'TicoBets' //name site
	-content			= 'content'
	-pageDescription	= 'Pagina inicial de TicoBets'
block main-header
block main-container
	include ../components/tns-slider
	div(class="ContenedorHome")
		include ../components/app-download
		include ../components/cuadriculaHome1
		include ../components/cuadriculaHome2
		include ../components/cuadriculaHome3
block main-footer
block scripts 
