extends ../config/template
append config
	-currentPage		= "home" //name sction
	-siteName			= 'PokerFran' //name site
	-content			= 'content'
	-pageDescription	= 'Pagina inicial de PokerFran'
block main-header
block main-container
	include ../components/tns-slider
	include ../components/app-download
block main-footer
block scripts 
