extends ../config/template
append config
	-currentPage		= "Juego responsable"
	-siteName			= 'TicoBets' 
	-content			= 'content'
	-pageDescription	= 'Pagina de juego responsable'
block main-header
block main-container
	include ../components/section-game-resp
block main-footer
block scripts 
