extends ../config/template
append config
	-currentPage		= "Nosotros"
	-siteName			= 'TicoBets' 
	-content			= 'content'
	-pageDescription	= 'Pagina de nosotros'
block main-header
block main-container
	include ../components/section-nosotros
block main-footer
block scripts 
