extends ../config/template
append config
	-currentPage		= "Poker"
	-siteName			= 'PokerFran' 
	-content			= 'content'
	-pageDescription	= 'Pagina de Poker'
block main-header
block main-container
	include ../components/section-poker
block main-footer
block scripts 
