extends ../config/template
append config
	-currentPage		= "TicoBets"
	-siteName			= 'TicoBets' 
	-content			= 'content'
	-pageDescription	= 'Pagina de TicoBets'
block main-header
block main-container
	include ../components/section-poker
block main-footer
block scripts 
