extends ../config/template
append config
	-currentPage		= "Privacidad"
	-siteName			= 'PokerFran' 
	-content			= 'content'
	-pageDescription	= 'Pagina de politica de privacidad'
block main-header
block main-container
	include ../components/section-privacidad
block main-footer
block scripts 
