extends ../config/template
append config
	-currentPage		= "program" //name sction
	-siteName			= 'PokerFran' //name site
	-content			= 'content'
	-pageDescription	= 'Pagina programa de lealtad de PokerFran'
block main-header
block main-container
	include ../components/section-programa-lealtad
block main-footer
block scripts 
