extends ../config/template
append config
	-currentPage		= "promociones" //name sction
	-siteName			= 'PokerFran' //name site
	-content			= 'content'
	-pageDescription	= 'Pagina promociones de PokerFran'
block main-header
block main-container
	include ../components/section-promotions
block main-footer
block scripts
