extends ../config/template
append config
	-currentPage		= "Registro"
	-siteName			= 'MoneyBet' 
	-content			= 'content'
	-pageDescription	= 'Pagina de registro de MoneyBet'
block main-header
block main-container
	include ../components/page-registrarse
block main-footer
block scripts 