extends ../config/template
append config
	-currentPage		= "Registrarse"
	-siteName			= 'TioBets' 
	-content			= 'content'
	-pageDescription	= 'Pagina de Registrarse'
block main-header
block main-container
	include ../components/page-registro
block main-footer
block scripts 
