extends ../config/template
append config
	-currentPage		= "Reglas poker"
	-siteName			= 'TicoBets' 
	-content			= 'content'
	-pageDescription	= 'Pagina de reglas de poker'
block main-header
block main-container
	include ../components/section-reglaspoker
block main-footer
block scripts 
