extends ../config/template
append config
	-currentPage		= "Reglas casa"
	-siteName			= 'PokerFran' 
	-content			= 'content'
	-pageDescription	= 'Pagina de reglas de la casa'
block main-header
block main-container
	include ../components/section-reglascasa
block main-footer
block scripts 
