extends ../config/template
append config
	-currentPage		= "ReglasDeportes"
	-siteName			= 'PokerFran' 
	-content			= 'content'
	-pageDescription	= 'Pagina de reglas de deporte'
block main-header
block main-container
	include ../components/section-reglasDeportes
block main-footer
block scripts 
