extends ../config/template
append config
	-currentPage		= "Terminos"
	-siteName			= 'PokerFran' 
	-content			= 'content'
	-pageDescription	= 'Pagina de terminos'
block main-header
block main-container
	include ../components/section-terminos
block main-footer
block scripts 
