block config
	include vars
doctype html
html(lang='en' prefix='og: http://ogp.me/ns#', class='no-js')
	<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
	<!--[if IE 7]><html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
	<!--[if IE 8]><html class="no-js lt-ie9" lang=""> <![endif]-->
	<!--[if gt IE 8]><!--> <html class="no-js" lang=""> <!--<![endif]-->
	head
		include utilis/metatags
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Noto+Sans:wght@500;700&display=swap" rel="stylesheet">
		link(rel="stylesheet" href="assets/css/styles.css")
		title= currentPage.slice(0,1).toUpperCase() + currentPage.slice(1) + " | " + siteName
	body(class=currentPage, itemscope itemtype="http://schema.org/WebPage")
		//- here start the Main Header
		header(class='main-header')
			include ../components/top-nav
			block main-header
		//- here ends the Main Header
		//- here start the Main Container
		main(class='main-container')
			block main-container
		//- here ends the Main Container
		//- here start the Main Footer
		footer(class='main-footer')
			include ../components/modal-login
			include ../components/footer
			include ../components/chat
			block main-footer
		//- include ../components/bottom-nav
		//- here ends the Main Footer
		//- script(src='https://cdnjs.cloudflare.com/ajax/libs/tiny-slider/2.9.2/min/tiny-slider.js')
		script(src="https://cdnjs.cloudflare.com/ajax/libs/showdown/1.9.0/showdown.min.js")
		script(src="assets/js/scripts.js")

		block scripts