*,
*:after,
*:before {
	box-sizing 			: inherit;
	padding 			: 0;
	margin 				: 0;
}
p{
	margin: 0;
	padding: 0;
}
html {
	box-sizing 			: border-box;
	font-family 		: var(--main-font), var(--alternate-font);
	font-size 			: var(--font-size);
	line-height 		:  var(--line-height);
	color 				: var(--text-color);
	background-color 	: var(--color-body-bg);
}
::selection {
	background-color 	: var(--color-first);
	color 				: var(--color-text-white);
}
body {
	margin         		: var(--header-height) 0 0 0;
	min-height     		: calc(100vh - var(--header-height));
	background 			: var(--body-bg);
	display        		: flex;
	flex-direction 		: column;
	overflow-x 			: hidden;
	color				: var(--color-text-white);
}
.main-footer {
	background 			: var(--color-first);
	color      			: #FFF;
	padding    			: 2rem 0;
	margin-top 			: auto;
}
