//layout
:root {
	--header-height: 3rem;

	@include from(l) {
		--header-height: 4rem;
	}

	//native color vars
	--color-black: #111;
	--color-white: #fff;
	--color-orange: #ff9c00;
	--color-dark: #0a0a0a;
	--color-text-white: #FFFFFF;
	--color-gray: #1a1a1a;
	--color-gray-lith: #757474;
	--color-body-bg: #111;

	// Font families
	--alternate-font: sans-serif;
	--font-size: 16px;
	--line-height: 1.6;
}