mixin topnavMenu(text, src)
    li(class='top-nav__li'): a(href=`${src}`, class='top-nav__anchor')= text
-for (var i = 0; i < topnavmenu.length; i++)
    -var d = topnavmenu[i]
    +topnavMenu(d.text, d.src)