mixin sectionBonus(img, src)
    div(class='section-bonus__item')
        a(href=`${src}`) 
            img(class='section-bonus__img', src=`${img}`, alt="image bonus")
-for (var i = 0; i < bonuses.length; i++)
    -var d = bonuses[i]
    +sectionBonus(d.img, d,src)