mixin sliderHome(src)
    div
        div(class='tns-single__content')
            img(class='tns-single__img', src=`${src}`, alt="image slider")
-for (var i = 0; i < sliderHome.length; i++)
    -var d = sliderHome[i]
    +sliderHome(d.src)