mixin sectionBonus(img, id)
    div(class='section-bonus__item')
        img(class='section-bonus__img', src=`${img}`, alt="image bonus")
-for (var i = 0; i < bonuses.length; i++)
    -var d = bonuses[i]
    +sectionBonus(d.img, d,id)