-for(i = 0; i < footerMenu.length; i++)
    -if(i == footerMenu.length-1)
            ul(class="s-cols-1")=footerMenu[i].title
                -for(j = 0; j < footerMenu[i].footerColum.length; j++)
                    li: a(class="bottom-nav__anchor", href=`${footerMenu[i].footerColum[j].src}`)= footerMenu[i].footerColum[j].text
                div(class="bottom-nav__socialicon")
                    p(class="bottom-nav__title") CONECTAR
                    div(class="bottom-nav__socialicons")
                        include ./mixin-socialicon
    -else 
        ul(class="s-cols-1")= footerMenu[i].title
            -for(j = 0; j < footerMenu[i].footerColum.length; j++)
                li: a(class="bottom-nav__anchor", href=`${footerMenu[i].footerColum[j].src}`)= footerMenu[i].footerColum[j].text