mixin homeBonus(img, src)
    div: div(class='tns-promotion__content'): a(href=`${src}`)
        img(class="tns-promotion__img", src=`${img}`, alt="bonus image")
-for (var i = 0; i < homeBonus.length; i++)
    -var d = homeBonus[i]
    +homeBonus(d.img, d.src) 