mixin metodoPago(src)
    div: div(class='tns-carousell__content'): img(class="tns-carousell__img", src=`${src}`, alt="metodo pago" width="46" height="46")
-for (var i = 0; i < metodoPago.length; i++)
    -var d = metodoPago[i]
    +metodoPago(d.src)